.container {
  width: 40%;
}

.delete-button:hover {
  cursor: pointer;
}

.delete-button:active {
  margin-top: 3px;
}

.add-item-form {
  margin-bottom: 5em;
}

.add-item-form .btn:active {
  margin-top: 7px;
}